.wrapper {
    margin: 0 auto;
    width: 1140px;
}

.container {
    &div {
        margin: calc($space * 1) 0;
        padding: 0 calc($space * 1);
    }
    &section {
        margin: calc($space * 3) 0;
        padding: 0 calc($space * 3);
    }
}

.center-content > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        width: 50%;
        text-align: center;
    }
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}