.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
}

// ajoute du padding dans les sections
// attention les wrappers comptent dedans
div.container  {
    padding: 0 calc($space * 1);
}
section.container  {
    padding: calc($space * 6) calc($space * 6);
    @media screen and (max-width: $small-screen) {
        padding: calc($space * 4) calc($space * 4);
    }
    @media screen and (max-width: $tablet) {
        padding: calc($space * 2) calc($space * 2);
    }
}

footer.container {
    padding: calc($space * 6) calc($space * 6);
    .wrapper {
        gap: calc($space * 2)
    }
    @media screen and (max-width: $small-screen) {
        padding: calc($space * 4) calc($space * 4);
    }
    @media screen and (max-width: $tablet) {
        padding: calc($space * 2) calc($space * 2);
    }
}

// ajoute du padding
.pad {
    padding: calc($space * 3);
}

// contredit certains paddings et margins pour certains wrappers
.wrapper.nopad {
    padding-bottom: 0;
    padding-top: 0;
    max-width: unset;
}

// toute section dont le contenu est centré
.center-content > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
        width: 50%;
        text-align: center;
    }
}

// différentes couleurs de fond
.light { background-color: $light; }

// toute section avec une image en background
.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        object-position: center center;
    }
}

// classes d'organisation visuelle des éléments
// s'appliquent sur le wrapper
.two-elements {
    width: 100%;
    display: flex;
    flex-direction: row;
    &>* {
        width: 50%;
        @media screen and (max-width: $tablet) {
            width: 100%;
            &.img-wrapper {
                min-height: 30vh;
            }
        }
    }
    @include inner-spacing ($unit: 2);
    @media screen and (max-width: $tablet) {
        flex-direction: column;
    }
}

.three-elements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include inner-spacing ($unit: 2);
    @media screen and (max-width: $smartphone) {
        grid-template-columns: 100%;
    }
}

.four-elements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include inner-spacing ($unit: 2);
    @media screen and (max-width: $small-screen) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: $smartphone) {
        grid-template-columns: 100%;
    }
}

.img-right, .img-left {
    .text-wrapper {
        padding: calc($space * 4);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text {
            max-width: 50%;
            @media screen and (max-width: $wrapper-max) {
                max-width: 100%;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $space;
            .button {
                align-self: center;
                margin: calc($space * 3);
            }
        }
    }
}

// images
.img-wrapper {
    overflow: hidden;
    img {
        width: 100%;
    }
}

.featured-image {
    img {
        width: 100%;
    }
}

// articles
.comfort-reading {
    color: $grey;
    line-height: 1.5em;
}

.section-title {
    text-align: center;
    padding: $space;
}