.home header.bg {
    background-image: url(../img/photos/home/hero-home.jpg);
    height: 100vh;
    @media screen and (max-width: $tablet) {
        height: 65vh;
    }
    .wrapper {
        justify-content: center;
    }
    .title {
        width: 30%;
        @media screen and (max-width: $small-screen) {
            width: 75%;
        }
        @media screen and (max-width: $tablet) {
            width: 100%;
        }
    }
}

.blog header.bg{
    background-image: url(../img/photos/blog/hero-blog.jpg);
    height: 50vh;
    .wrapper {
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 200%;
        width: 100%;
        h1 {
            text-transform: initial;
        }
    }
}


header {
    @include overlay-before ($bg: $black, $opacity: .6, $z-index: -1);
    .wrapper {
        display: flex;
        flex-direction: column;
        color: $white;
        height: 100%;
        .title {
            z-index: 1;
            display: flex;
            flex-direction: column;
            &>* {
                margin: $space;
            }
        }
        .breadcrumbs {
            margin: 0 calc($space * 6);
            @include fontawesome-list;
            li {                 
                display: inline-block;
                &::before {
                    content: "\f061";
                }
            }
        }
    }
}