.home header.bg {
    background-image: url(../img/photos/home/hero-home.jpg);
    height: 100vh;
}

.blog header.bg{
    background-image: url(../img/photos/blog/hero-blog.jpg);
    height: 35vh;
}


header {
    @include overlay-before ($bg: $black, $opacity: .6, $z-index: -3);
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        height: 100%;
        .title {
            display: flex;
            flex-direction: column;
            width: 30%;
            &>* {
                margin: $space;
            }
        }
    }
}