.destinations {
    .img-wrapper {
        position: relative;
        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: $white;
            display: flex;
            @include inner-spacing ($unit: .5);
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
        a {
            background-color: $yellow;
            display: block;
            padding: calc($space * .25) calc($space * .75);
            opacity: 0;
            @include transition-eclair;
        }
        &:hover {
            cursor: pointer;
            a {
                opacity: 1;
            }
            &:after {
                opacity: .3;
            }
        }
        // j'avais un p*** de mixin overlay, MAIS à chaque fois que je
        // l'utilise ça casse le hover. Donc je retape le code des overlays
        // et je suis un peu déçu de manquer de temps pour débugguer ça :(
        &:after {
            content: '';
            position: absolute;
            background-color: $black;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 0;
            @include transition-eclair;
        }
    }
}

.prices {
    background-image: url(../img/graphics/world.png);
    h3 {
        @include inner-spacing;
        border-bottom: 1px solid $yellow;
        background-color: $white;
    }
    .price-table {
        display: grid;
        background-color: $white;
        padding: 1.25em 0;
        grid-template-columns: 77% 20%;
        gap: .75em;
        p, a {
            line-height: 2em;
        }
        a {
            font-weight: bold;
            text-align: center;
            background-color: $light;
        }
    }
}