.blog {
    aside .ad {
        width: 100%;
        aspect-ratio: 6/5;
        background-image: url(../img/photos/blog/ads-banner.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}