// Affecte tous les boutons (classe .button)
// -----------------------
// type .look
// HTML | <a href="#" class="button look">See our menu</a>
// ┌──────────────┐
// │ See our menu │
// └──────────────┘
// -----------------------
// Type .go
// HTML | <a href="#" class="button go">Our story</a>
// Our story  →
.button {
    padding: $space calc(1em * 2);
    display: block;
    width: fit-content;
    &.look {
        color: $white;
        background-color: $yellow;
        @include hoverable($background: true);
    }
    &.request {
        @include hoverable($background: true, $yellowify: true);
        color: $white;
        background-color: $black;
    }
    &.reply {
        @include hoverable($background: true, $yellowify: true);
        color: $black;
        background-color: $white;
        border: 1px solid $light;
    }
}