form {
    display: flex;
    align-items: center;
    position: relative;
    :nth-of-type(1) {flex-basis: 100%;}
    :nth-of-type(2) {flex-basis: 50px;}
    input, textarea {
        width: 100%;
        height: calc($space * 3);
        background-color: transparent;
        border-color: rgba($color: $grey, $alpha: .4);
        padding: $space;
        &:focus {
            outline: 1px solid $yellow;
        }
        &::placeholder {
            color: $grey;
        }
    }
    textarea {
        resize: vertical;
    }
    input[type="submit"] {
        background-color: $yellow;
        border: transparent;
        cursor: pointer;
    }
    svg {
        position: absolute;
        width: 24px;
        right: 13px;
    }
}

footer {
    form {
        input, textarea {
            border-right: transparent;
        }
        input[type="submit"] {
            aspect-ratio: 1;
        }
    }
}

// formulaires du blog
.blog {
    .leave-a-comment {
        form {
            display: grid;
            grid-template-columns: 50% 50%;
            @include inner-spacing;
            div {
                padding: 0 $space;
                padding-left: 0;
            }
            input:not([type="submit"]), textarea {
                background-color: $white;
            }
            .name *, .email * {
                margin: 0 auto;
                border: 0;                    
            }
            .subject, .message, .submit {
                width: 100%;
                grid-column: span 2;
                * {
                    margin: 0 auto;
                    border: 0;
                }
            }
        }
    }
}