form {
    display: flex;
    align-items: center;
    position: relative;
    :nth-of-type(1) {flex-basis: 100%;}
    :nth-of-type(2) {flex-basis: 50px;}
    input, textarea {
        height: calc($space * 3);
        background-color: transparent;
        border-color:
            rgba($color: $grey, $alpha: .4)
            transparent
            rgba($color: $grey, $alpha: .4)
            rgba($color: $grey, $alpha: .4);
        padding: $space;
        &:focus {
            outline: 1px solid $yellow;
        }
        &::placeholder {
            color: $grey;
        }
    }
    input[type="submit"] {
        aspect-ratio: 1;
        background-color: $yellow;
        cursor: pointer;
    }
    svg {
        position: absolute;
        width: 24px;
        right: 13px;
    }
}

.blog {
    .leave-a-comment {
        form {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: $space;
            .subject, .message, .submit {
                grid-column: span 2;
            }
        }
    }
}