.tags {
    a {
        display: inline-block;
        width: fit-content;
        padding: calc($space * .75) calc($space * 1);
        border: 1px solid $medium;
        margin: calc($space * .75) calc($space * .25);
        text-transform: initial;
        &:first-of-type {
            margin-left: 0;
        }
        &:hover {
            border: 1px solid transparent;
        }
        @include hoverable ($background: true, $yellowify: true);
    }
}

.material-popout {
    @include material-popout;
}

.material-popout-hover {
    @include material-popout($on-hover: true);
}