.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    
    display: inline-block;
    font-size: calc($space * 2);
    // font-family: Times;
    line-height: 1;
    
    &::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(
          90deg,
          $yellow var(--percent),
          $grey var(--percent));
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}