// color palette
$black: #011;
$dark: #222;
$grey: #444;
$light: #eee;
$white: #fff;
$yellow: #fb0;

// layout measures
$space: 1rem;

// font sizes
$font-elastic: calc(16px + .16vw);
$title-elastic: calc(20px + .20vw);

// responsive breakpoints
$small-screen: 992px;
$tablet: 768px;
$smartphone: 575px